
<!-- saved from url=(0062)file:///C:/xampp/htdocs/dataRoutier/2018_AFER_Convocation.html -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_004{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Times,serif;font-size:28.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Times,serif;font-size:28.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_002{font-family:Times,serif;font-size:10.0px;color:rgb(47,84,149);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Times,serif;font-size:10.0px;color:rgb(47,84,149);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Times,serif;font-size:10.0px;color:rgb(5,98,193);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_008{font-family:Times,serif;font-size:10.0px;color:rgb(5,98,193);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="file:///C:/xampp/htdocs/dataRoutier/0dfc24a0-116d-11e8-b174-0cc47a792c0a_id_0dfc24a0-116d-11e8-b174-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="images\2018_AFER_Facturation_files\background1.jpg" width="595" height="841"></div>
<div style="position:absolute;left:379.20px;top:59.80px" class="cls_004"><span class="cls_004">Besançon, le [{{ facturation.date }} {{ facturation.mois }} {{ facturation.année }}]</span></div>
<div style="position:absolute;left:130.56px;top:157.60px" class="cls_005"><span class="cls_005">FACTURE N° [{{ facturation.id }}_00/2018]</span></div>
<div style="position:absolute;left:36.00px;top:242.92px" class="cls_004"><span class="cls_004">[{{ facturation.genre }} {{ facturation.prenom }} {{ facturation.nom }}]</span></div>
<div style="position:absolute;left:36.00px;top:259.12px" class="cls_004"><span class="cls_004">[{{ facturation.adresse }}]</span></div>
<div style="position:absolute;left:36.00px;top:275.32px" class="cls_004"><span class="cls_004">[{{ facturation.codepostal }} {{ facturation.commune }}]</span></div>
<div style="position:absolute;left:36.00px;top:323.92px" class="cls_004"><span class="cls_004">Stage Sécurité Routière du [{{ facturation.date1 }}, {{ facturation.mois1 }} {{ facturation.année1 }}]</span></div>
<div style="position:absolute;left:283.81px;top:388.72px" class="cls_004"><span class="cls_004">Montant HT</span></div>
<div style="position:absolute;left:496.81px;top:388.72px" class="cls_004"><span class="cls_004">{{ facturation.montantht }}</span></div>
<div style="position:absolute;left:283.81px;top:437.20px" class="cls_004"><span class="cls_004">Montant TTC</span></div>
<div style="position:absolute;left:496.81px;top:437.20px" class="cls_004"><span class="cls_004">{{ facturation.montantttc }}</span></div>
<div style="position:absolute;left:283.81px;top:485.80px" class="cls_004"><span class="cls_004">Reste dû</span></div>
<div style="position:absolute;left:496.81px;top:485.80px" class="cls_004"><span class="cls_004">{{ facturation.restdu }}</span></div>
<div style="position:absolute;left:354.61px;top:566.80px" class="cls_004"><span class="cls_004">Le Président</span></div>
<div style="position:absolute;left:114.60px;top:732.28px" class="cls_002"><span class="cls_002">Association Franc-comtoise d’Education Routière - 7 Square Saint Amour 24960 Besançon</span></div>
<div style="position:absolute;left:190.68px;top:744.52px" class="cls_002"><span class="cls_002">Tél : 06 24 18 32 41 - Courriel : </span><span class="cls_008">afer.wnr@gmail.com</span></div>
<div style="position:absolute;left:231.72px;top:756.76px" class="cls_002"><span class="cls_002">N° de SIRET : 820 306 165 00011</span></div>
<div style="position:absolute;left:252.00px;top:769.00px" class="cls_002"><span class="cls_002"> </span><a href="http://www.afer-besancon.fr/">www.afer-besancon.fr</a> </div>
</div>



</body></html>